* html {margin:0; padding:0;}

body { 
	margin: 0px;
	font: small, "Trebuchet MS", Tahoma, Arial, Verdana; 
	color: #333333; 
	background: #FFFFFF url(../images/main-bg.gif); 
} 

#header { 
	padding-top: 10px;
	background: #2D405B; 
	height: 50px; 
	border-bottom: 3px solid #4E79A2; 
	position: relative; 
	color: #4E79A2; 
} 

h1 {
	margin: 0px;
	height: 60px;
	font: bold 26px/100% "Trebuchet MS", Tahoma, Arial, Verdana;
	color: #ACD7EE;
	padding-left: 25px;
}

#navigation { 
	background-color:#FFFFFF;
	height: 30px; 
	width: 800px; 
	margin: 0px auto; 
	margin-top: 15px; 
	border-top: 5px solid #8D8D8D; 
	border-left: 5px solid #8D8D8D; 
	border-right: 5px solid #8D8D8D; 
}
		
#navigation ul { 
	margin: 0px; 
	padding: 0px; 
	white-space: 
	nowrap; 
} 
	
#navigation ul li { 
	list-style-type: none; 
	float: left; 
	border-right: 1px solid #8D8D8D; 
	line-height: 30px; 
	font: bold 12px Arial, Helvetica, sans-serif; 
	text-align: center; 
} 
	
#navigation ul li a { 
	display: block; 
	color: #40608C; 
	text-decoration: none; 
	background: #ECECEC; 
	padding: 0px 15px; 
	line-height: 30px; } 
	
#navigation ul li a:hover { 
	color: #4E79A2; 
	background: #FFF; 
}

#grid {
	text-align: center;
}

#wrap {
	margin: 0 auto;
	clear: both;
	width: 800px;
	height: 580px;
	border-left: 5px solid #8D8D8D;
	border-right: 5px solid #8D8D8D;
	background-color: #FFFFFE;
	overflow: hidden;
	white-space: nowrap; 
}

#content {
	padding: 10px 0px 15px 14px;
	width: 770px;
	overflow: hidden;
	position: relative; 

}
  
#footer {
    width: 800px;
	height: 30px;
	clear: both;
	background: #fefefe;
	margin: 0px auto 20px auto;
	border-left: 5px solid #8D8D8D;
	border-top: 1px solid #8D8D8D;
	border-right: 5px solid #8D8D8D;
	border-bottom: 5px solid #8D8D8D;
	text-align: center;
}

#footer p {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
	color: #777;
	font-size: 95%;
}

#footer p a {
	color: #135193;
}

